body {
  font-family: "Titillium Web", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}
.heading-wrapper{
  justify-content: center;
  text-align: center;
  color: rgb(242, 245, 204);
  margin-bottom: 2rem;
}
.btn-wrapper{
  height: 40px;
  width: 140px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 4px;
 
  justify-self: center;
  justify-items: center;
 
  justify-content:center;

}

.col-wrapper{
  width: 50%  !important;
}



.table-wraper{
  width: 100%;
  height: 80rem;
  padding: 1rem 2rem;
 
  background: url("../svgs/BlackShadowEffect.png") center right no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;


  .table-inner{
    color: rgb(27, 23, 23) !important;
    font-weight: bold;

  }
  .table-header{
    background-color: #383636;
    color: #fff;
  }

}


.auth-wrapper {
  height: 100vh;
  overflow: hidden;
  .auth-form-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
    backdrop-filter: blur(100px);
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background: url("../svgs/gmeez-signup.svg") center right no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 0;
      position: absolute;
      filter: blur(100px);
      /* -webkit-filter: blur(4vh); */
    }
    .inner-wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 360px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: lightgrey;
    }
    .auth-tabs {
      .MuiTabs-indicator {
        display: none;
      }
      a {
        color: white;
        text-decoration: none;
        button {
          padding: 0 1rem;
          min-width: auto;
          border: 0;
          border-top: 2px solid rgba(white, 0.3);
          &.tab-active {
            border-top: 2px solid rgba(white, 1);
          }
        }
      }
    }
    .form-message {
      background: rgba(86, 0, 0, 0.7);
      border-radius: 4px;
      color: white;
      padding: 1rem 2rem;
      max-width: 320px;
      text-align: center;
      margin-bottom: 2rem;
    }
    .auth-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .form-input {
        margin-bottom: 2rem;
        input {
          color: #e9e9e9;
          line-height: 1.5em;
        }
        .MuiInputBase-root {
          &:after,
          &:before {
            border-bottom-color: #e9e9e9;
          }
          // &.Mui-error {
          //   &:after,
          //   &:before {
          //     border-bottom-color: #f44336;
          //   }
          // }
        }
        img {
          position: relative;
          top: 2px;
        }
        .Mui-required {
          position: absolute;
          right: 0;
          bottom: 0.5rem;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          &:after {
            content: "";
            width: 15px;
            height: 15px;
            margin-left: 0.5rem;
            border-radius: 100%;
            background-size: 10px;
          }
        }
        .Mui-error.Mui-required {
          &:after {
            background: #ff2323 url(../svgs/icon-error.svg) center center no-repeat;
          }
        }
        .Mui-success.Mui-required {
          &:after {
            background: #51ff35 url(../svgs/icon-error.svg) center center no-repeat;
          }
        }
        &.verify-email {
          background: black;
          color: white;
          text-align: center;
          margin: 2rem 0 1rem;
          padding: 1rem;
          display: inline-block;
          width: 100%;
          .MuiInputBase-root {
            &:after,
            &:before {
              border-bottom-color: transparent;
            }
            input {
              text-align: center;
            }
          }
        }
      }
      .form-checkbox {
        .MuiIconButton-label {
          padding: 0;
          svg {
            color: white;
          }
        }
      }
      .verify-code {
        div {
          display: flex;
          justify-content: center;
        }
        input {
          width: 30px !important;
          margin: 0 0.5rem;
          font-size: 2rem;
          font-weight: 900;
          background: none;
          border: 0;
          border-bottom: 1px solid white;
          border-radius: 0;
          color: white;

          
        }

      }
      .btn-auth {
        color: #ffd4a0;
        margin: 2rem 0 1rem;
        padding: 0.5rem 1.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        background: linear-gradient(91.2deg, rgba(255, 255, 255, 0) 2.97%, rgba(255, 255, 255, 0) 112.24%), #232323;
      }
    }
    .forgot-password {
      color: rgba(white, 0.7);
      padding: 0.6rem 0;
    }
    .link-redirect {
      color: rgba(white, 0.7);
      color: #ffd4a0;
    }
  }

  .welcome-to {
    position: relative;
    padding: 3rem 5rem;
    &.auth {
      height: 100vh;
      width: 100%;
      background: url(../svgs/gmeez-signup.svg) center right no-repeat;
      background-repeat: no-repeat;
      background-size: cover;
      .caption-wrapper {
        position: absolute;
        left: 5rem;
        .caption-title {
          font-weight: 600;
          font-size: 3rem;
          color: #ffffff;
        }
        .caption-text {
          margin-top: 1rem;
          color: rgba(255, 255, 255, 0.6);
        }
        &.bottom {
          bottom: 3rem;
        }
      }
    }
  }
}
